<p style="font-size: 14px; margin-top: 16pxl Margin-top: 16px;">
    <%= link_to "Unsubscribe", "http://localhost:3000/unsubscribe?unsubscribe_hash=#{@subscription.unsubscribe_hash}", style: "color: #bbbbbb;", target: :_blank %>
</p>