<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new message from <%= @email %>!</p>
    <br>
    
    <p>Subject:
   <br>
    --------------------------
    <p><%= @subject %></p>
    --------------------------
    <p>Message:
   <br>
    --------------------------
    <p><%= @message %></p>
    --------------------------
  </body>
</html>