<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks from Pure Piece Treats</h1>
    <p>
      You have successfully subscribed to our mailing list.
      <br />
      We look forward to keeping you up to date on all new announcements.  
    </p>
    <p>Thanks for all your support!</p>

    <%= render "shared/unsubscribe_link" %>
  </body>
</html>
